@{
    ViewBag.Title = "About me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Leticia Rodrigues and I am a senior majoring in Finance & MIS with minors in Spanish and Fashion Merchandising. I am originally from New York about 20 minutes away from Manhattan and will be returning to New York after graduation in May. </p>
