@{
    ViewBag.Title = "My Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    96 N Congress St<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    123.456.7891
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lr547315@ohio.edu">lr547315@ohio.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:lr547315@ohio.edu">lr547315@ohio.edu</a>
</address>