@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">This website will be designed for the MIS4200 class project.</p>
    <p><a href="https://ohiocoblms.azurewebsites.net/learn/forumMainPage.aspx?f=8360" class="btn btn-primary btn-lg">More About MIS4200 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>School</h2>
        <p>
            In school I study a combination of Finace & MIS as well as Spanish and Fashion Merchandising. I am also involved in a couple of organizations on campus such as The Center for Consumer Research and Analytics and AKPsi Professional Business Fraternity. I also hold two campus jobs as an Employer Relations Office Assistant in the CLDC and an SSI leader for the Fashion Buying & Planning class.
        </p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/">About Ohio University &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Internship</h2>
        <p>This past summer I had the amazing opportunity to intern as a planning intern for Ross Dress for Less in their New York Buying Office. My title is specific to Ross, but in any other company I would be considered a Financial Analyst. This internship was the perfect mix of everything that I study and I could not be more excited.</p>
        <p><a class="btn btn-default" href="https://www.rossstores.com/">About My Internship &raquo;</a></p>
        @Html.ActionLink("Customers", "Index", "Customers") <br />
        @Html.ActionLink("Orders", "Index", "Orders") <br />
        @Html.ActionLink("Products", "Index", "Products")
    </div>
    <div class="col-md-4">
        <h2>Full Time Job</h2>
        <p>After a summer at Ross' New York Buying Office I was offered a full time position for post graduation. Some of my tasks will include analyzing company financial data such as sales metrics and reports as well as forecasting future plans which will ultimately be used as budgets for the buying team.</p>
        <p><a class="btn btn-default" href="https://www.rossstores.com/">About Ross Stores &raquo;</a></p>
    </div>
</div>